[submodule "kernel"]
	path = kernel
	url = https://github.com/torvalds/linux.git
[submodule "systemd"]
	path = systemd
	url = https://github.com/systemd/systemd/
[submodule "tcc"]
	path = tcc
	url = https://repo.or.cz/tinycc.git
