[submodule "kernel"]
	path = kernel
	url = https://github.com/torvalds/linux.git
	shallow = true
[submodule "tcc"]
	path = tcc
	url = https://repo.or.cz/tinycc.git
[submodule "systemd"]
	path = systemd
	url = https://github.com/systemd/systemd.git
[submodule "scavenge"]
	path = scavenge
	url = https://github.com/gradnux/scavenge.git
